.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  text-align: left
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a.nav-link {
  color: #161517
}

a:hover.nav-link{
  color: #f5f3f7
}

.content{
  text-align: left;
  margin: 10px
}

.space-span{
  margin: 0px 10px
}

.botoes_form{
  float: right;
}

.float-right{
  float: right;
}

#msg, #msg2{
  display: none
}

.form-control.text-uppercase{
  text-transform: uppercase
}